<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Details</title>
</head>
<body>
    <h1>Character Details</h1>
    <ul>
        <li>Name: {{ character.name }}</li>
        <li>Height: {{ character.height }}</li>
        <li>Mass: {{ character.mass }}</li>
        <li>Hair Color: {{ character.hair_color }}</li>
        <li>Eye Color: {{ character.eye_color }}</li>
    </ul>
</body>
</html>
